<% provide(:title, "Contact") %>

 <div class="main">
<!-- JUMBOTRON (HERO) -->
       <section>
       <!--  <div class="container-fluid">
          <div class="row">
            <div class="col-md-12"> -->
        <div class="category-hero" style="background-image: url(<%= asset_path 'contact-header.jpg' %>)">
          <div class="hero-header-2">Contact Us</div>
       </div>
   <!--   </div>
   </div>
 </div> -->
      </section>

<!-- PRIMARY CONTENT: -->
      <section class="primary-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
             <p class="text-center link-map"><%= link_to "Home", root_url %>
                <%= image_tag("arrow.png", class: "arrow") %>
                Contact Us
            </p>
           </div>
          </div>
        </div>

        <div class="container-fluid">
             <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <p>Sycamore Pain Clinic is dedicated to keeping you and your team in the game, and off the bench. Whether you particiapte at the high school, college, or community level competition, Sycamore Pain Clinic offers the most comprehensive sports-related programs available. We provide such services as:</p>
                <br>
                <p>Preventative care, including:</p>
                <p>Pre-season musculoskeletal screenings & Sports Enhancement</p>                     <p>Evaluation/treatment of sports-related injuries</p>
                <p>Assistance to coaches and players (both on and off the field)</p>
              </div>
            </div>

          </div>

      </section>


