



    <div class="main">   <!-- MAIN CONTENT DIV************** -->
<!-- (HOME HERO) -->

      <section class="home hero">

         <!--  <div class="hero-slide" style="background-image: url(assets/neurons.jpg)"> -->
            <div class="hero-overlay">  <!-- text -->
              <div class="hero-header">Nationally recognized.<br>
              Patient-focused. Outcome-driven.
              </div>
            </div>
      <div class="services-overlay">
        <h2 class="services header">Our Services</h2>
        <hr>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="services text">The caring, skilled, and professional staff at Sycamore Pain Clinic is committed to advancing the practice of pain management by providing patients with the most progressive preventive care and therapeutic services possible. No matter your individual pain management needs, Sycamore Pain Clinic offers a full spectrum of comprehensive, personalized treatment plans designed to maximize your rehabilitation, as well as programs to help prevent injuries and promote health.</div>
          </div>
        </div>
        <div class="services-links-wrapper">

            <a href="#" class="services-link">
              <div class="services-image-container">
                <img src="assets/icon-orthopedic.png">
              </div>
              <div class="service-title">Orthopedic/Spine</div>
            </a>

            <a href="#" class="services-link">
              <div class="services-image-container">
                <img src="assets/icon-industrial.png">
              </div>
              <div class="service-title">Industrial Services</div>
            </a>

            <a href="ptpros_content.html" class="services-link">
              <div class="services-image-container">
                <img src="assets/icon sports.png">
              </div>
              <div class="service-title">Sports Medicine</div>
            </a>
            <a href="ptpros_content.html" class="services-link">
              <div class="services-image-container">
                <img src="assets/icon-health.png">
              </div>
              <div class="service-title">Health and Wellness</div>
            </a>
            <a href="#" class="services-link">
              <div class="services-image-container">
                <img src="assets/icon-pediatrics.png">
              </div>
              <div class="service-title">Pediatrics</div>
            </a>
            <a href="#" class="services-link">
              <div class="services-image-container">
                <img src="assets/icon-neurological.png">
              </div>
              <div class="service-title">Neurological/Balance</div>
            </a>
          </div>
        </div>

      </section>



<!-- FORM -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <section id="request-appt-form">
        <div class="request-appt-wrapper">
          <h2 class="request-appt header">Request an Appointment</h2>
          <hr>
          <div class="request-appt text">Please fill out the form below, and we will contact you shortly.</div>
        </div>
      </div>
      </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <form action="http://example.com/....." method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Name <sup>*</sup></label>
                    <input type="text" class="form-control" id="first_name" placeholder="First Name" required="required">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="sr-only" for="last_name">''</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Last Name" required="required">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">Phone <sup>*</sup></label>
                    <input type="text" class="form-control" id="phone" required="required">
                  </div>
                </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Email <sup>*</sup></label>
                      <input type="email" class="form-control" id="email" required="required">
                    </div>
                  </div>
              </div>
              <div class="row">
               <div class="col-md-6">
                <label for="date">Requested Date: </label>
                  <input type="date" name="date" min="2017-02-01">
                  <br>
                  <br>
                <label for="time">Requested Time: </label>
                  <input type="time" name="time">
                </div>

                <div class="col-md-6">
                  <input type="submit" value="Send Request"/>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="push"></div>
          </div>
        </div>
      </div>    <!-- END OF "MAIN" DIV -->