<% provide(:title, "Procedures") %>

 <div class="main">
<!-- (HERO) -->
    <div class="row">
      <section>
        <div class="category-hero" style="background-image: url(assets/category-hero-photo.png)">
          <div class="hero-header-2">Procedures</div>
       </div>
      </section>
    </div>


<!-- PRIMARY CONTENT: -->
      <section class="primary-content">
<div class="row">
          <div class="col-md-12">
            <p class="text-center link-map">Home
              <%= image_tag("arrow.png", class: "arrow") %>
              Procedures
            </p>
             <!-- <div class="box-wrapper"> -->
              <div class="primary-box-1">
                <p><strong>At Sycamore Pain Clinic, we are dedicated to improving the quality of EVERY life we touch.</strong></p>
                <br>
                <p>The caring, skilled, and professional staff at Sycamore Pain Clinic is committed to advancing the practice of pain management by providing patients with the most progressive preventive care and rehabilitative services possible. No matter your individual physical therapy needs, Sycamore Pain Clinic offers a full spectrum of comprehensive, personalized treatment plans designed to maximize your rehabilitation, as well as programs to help prevent injuries and promote health.</p>
              </div>
              <div class="primary-box-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac metus ut sem scelerisque posuere quis tristique risus. In at risus semper leo dapibus semper.</p>
              </div>
              <!-- </div> -->
            </div>

          </div>
      </section>


<!-- CATEGORY (SECONDARY CONTENT) -->
<div class="row">
      <section class="secondary-content">

          <div class="col-md-12">

            <h2 class="text-center">Our Services</h2>
            <hr>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <p class="text-center">To learn more about the services we provide - and how PT Pros can help you reach and maintain your highest physical and functional goals at work, play, and life - please click on a category below.</p>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </section>
</div>
<!-- VERTICAL BUTTONS & IMAGE -->
      <section class="category-list">
        <div class="row">
        <div class="category-wrapper">
            <div class="list-group">
              <a href="#" class="list-group-item">Orthopedic/Spine</a>   <!-- active? -->
              <a href="#" class="list-group-item">Industrial Services</a>
              <a href="ptpros_content.html" class="list-group-item">Sports Medicine</a>
              <a href="#" class="list-group-item">Health and Wellness</a>
              <a href="#" class="list-group-item">Pediatrics</a>
              <a href="#" class="list-group-item">Neurological/Balance</a>
            </div>

            <div class="category-image">
              <img src="assets/category-image.png"/>
            </div>
         </div>
       </div>
      </section>
      <div class="row">
      <div class="push"></div>
      </div>
      </div>    <!-- END OF "MAIN" DIV -->
<br>
<br>
